button {
  background-color: $title-orange;
  font-family: $Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  transition: 0.3s;

  &:hover {
    background-color: $title-orange-hover;
    color: #F55800;
    border: 1px solid #F55800;
  }

  &:active {
    background-color: $title-orange-active;
  }

  &:disabled {
    background-color: $title-orange-disabled;
    color: #5b5957;
  }
}
