$title-orange: #FF6B00;
$Crete: 'Crete Round', serif;
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Inter: Inter, Arial, Helvetica, sans-serif; 
$dark-background: #1C1A19;
$gray-background: #3C3A39;
