$title-orange: #FF6B00;
$Crete: 'Crete Round', Arial, Helvetica, sans-serif;
$Roboto: 'Roboto', Arial, Helvetica, sans-serif;
$Poppins: 'Poppins' Arial, Helvetica, sans-serif;
$dark-background: #1C1A19;
$gray-background: #3C3A39;