header {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  background-color: $gray-background;

  a {
    color: #fff;
    font-family: $Roboto;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
  }

  nav {
    display: flex;

    button {
      background-color: transparent;

      &:hover {
        background-color: transparent;
        border: none;
      }

      &:active {
        background-color: transparent;
        border: none;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 0;
      left: -150%;
      width: 100vw;
      height: 100vh;
      background-color: $gray-background;
      z-index: 1;

      li {
        width: 85vw;
        border-bottom: 1px solid #6f6c6b;
        margin-top: 7.5vw;

        button {
          margin-right: 1rem;

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        &.close {
          text-align: end;
          border-bottom: none;

          button {
            background-color: transparent;
          }
        }

        &.envelope {
          display: none;
        }

        a {
          font-family: $Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 44px;
          letter-spacing: 0;
          padding: 0 1rem;
        }
      }
    }
  }

  @include tablet {
    height: 4.5rem;

    a {
      font-family: $Inter;
      font-size: 20px;
      line-height: 20px;
    }

    nav {
      img {
        height: 20px;
        width: auto;
      }

      li {
        &.close {
          button {
            img {
              width: 30px;
              height: auto;
            }
          }
        }
      }
    }
  }

  @include desktop {
    nav {
      button {
        display: none;
      }

      ul {
        position: static;
        width: 30vw;
        height: auto;
        flex-direction: row;
        text-align: center;

        li {
          margin: 0;
          border: none;

          &.close {
            display: none;
          }

          &.envelope {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;

            button {
              display: block;
            }
          }

          a {
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
