@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

@font-face {
  font-family: Crete Round;
  src: url(https://fonts.googleapis.com/css?family=Crete%20Round);
}

@font-face {
  font-family: Poppins;
  src: url(https://fonts.googleapis.com/css?family=Poppins);
}
