.App {
  overflow: hidden;
}

.presentation {
  position: relative;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $dark-background;

  h1 {
    color: $title-orange;
    font-family: $Crete;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.3700000047683716px;
    width: 88%;
  }

  h2,
  p {
    color: #fff;
    width: 88%;
  }

  h2 {
    font-family: $Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
  }

  p {
    font-family: $Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }

  ul {
    width: 88%;
    height: 3rem;
    display: flex;
    gap: 1.7rem;
    padding: 0 1rem;
  }

  img.decoration {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @include tablet {
    gap: 24px;

    h1 {
      width: 400px;
      font-size: 72px;
      line-height: 82px;
      letter-spacing: 0;
      text-align: left;
      align-self: flex-start;
      margin-left: 6%;
    }

    h2,
    p {
      width: 566px;
      align-self: flex-start;
      margin-left: 6%;
    }

    h2 {
      font-family: $Inter;
      font-size: 32px;
      font-weight: 500;
      line-height: 44px;
      text-align: left;
    }

    p {
      font-family: $Inter;
      font-size: 20px;
      line-height: 32px;
      text-align: left;
    }

    ul {
      gap: 3rem;
      li {
        a {
          img {
            height: 25px;
            width: auto;
          }
        }
      }
    }

    img {
      width: 200px;
      height: auto;
    }
  }
}

.about {
  width: 100vw;
  background-color: $dark-background;

  &-info {
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    h1 {
      width: 88%;
      font-family: $Crete;
      font-size: 72px;
      font-style: normal;
      font-weight: 400;
      line-height: 88px;
      letter-spacing: 0.3700000047683716px;
      color: $title-orange;
    }

    h2 {
      width: 88%;
      font-family: $Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      color: #fff;
    }

    button {
      align-self: flex-start;
      width: 161px;
      height: 48px;
      margin-left: 6%;
      margin-bottom: 70px;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  hr {
    width: 88%;
    border: 0.5px solid #fff;
  }

  &-skills {
    width: 100vw;
    height: 1255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul.about-skills-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        font-family: $Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0;
        text-align: center;
        color: #fff;

        img {
          margin-right: 12px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 32px;
          margin-top: 20px;

          li {
            font-family: $Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 43px;
            letter-spacing: 0;
            text-align: center;
          }
        }
      }
    }
  }
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 88%;
    padding: 124px 0;
    display: flex;
    flex-direction: column;
    gap: 58px;

    h1 {
      width: 100%;
      font-family: $Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0;
      text-align: center;
      color: #172b4d;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      input {
        width: calc(100% - 32px);
        height: 48px;
        border: none;
        border-bottom: 1px solid #dbd8d7;
        font-family: $Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        padding: 0 16px;

        &::placeholder {
          color: #979493;
        }
      }

      textarea {
        width: calc(100% - 24px);
        height: 90px;
        max-height: 150px;
        padding: 12px;
        background-color: #fbf8f7;
        font-family: $Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        border: none;
        resize: vertical;

        &::placeholder {
          color: #3c3a39;
        }
      }

      button {
        padding: 12px;
      }
    }
  }

  hr {
    width: 100%;
    border: 0.5px solid #dfe1e6;
  }

  ul {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}

.projects {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 24px;
  padding: 5rem 0;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h1 {
      font-family: $Crete;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 52px;
      letter-spacing: 0;
      text-align: center;
      width: 88%;
    }

    hr {
      width: 88%;
    }
  }

  @include tablet {
    width: 88%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;

    div,
    div.main-card {
      grid-column: span 2;
      width: 100%;
    }

    div {
      hr {
        width: 100%;
      }
    }

    div.card {
      grid-column: span 1;
    }
  }
}
